/* Style */
html {
  font-family: 'Open Sans', sans-serif;
}

div > h3 {
  font-size: 36px;
  text-align: center;
}
/*
input {
  font-size: 36px;
  text-align: center;
  border: 0px solid white;
}
*/
#generate {
  margin-left: 47%;
  margin-top: 100px;
  height: 50px;
  width: 150px;
  background-color: #008A2E;
  outline: none;
  font-size: 28px;
  color: white;
  border-color: white;
  border-radius: 7px;
}

div {
    margin-top: 150px;
    
}
